<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hackathon_lakemcmurtry">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackathon_LakeMcMurtry">
        <activity
            android:name=".InvasiveActivity"
            android:exported="false" />
        <activity
            android:name=".DeerActivity"
            android:exported="false" />
        <activity
            android:name=".BirdActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".WildlifeActivity"
            android:exported="false" />

        <activity
            android:name=".ContactActivity"
            android:exported="false" />
        <activity
            android:name=".PartnerActivity"
            android:exported="false" />
        <activity
            android:name=".EduActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".RulesActivity"
            android:exported="false" />
        <activity
            android:name=".MapSpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".GenInfoActivity"
            android:exported="false" />
        <activity
            android:name=".GenCampsiteActivity"
            android:exported="false" />
        <activity
            android:name=".EastTentCampsiteActivity"
            android:exported="false" />
        <activity
            android:name=".WestTentCampsiteActivity"
            android:exported="false" />
        <activity
            android:name=".DaypassActivity"
            android:exported="false" />
        <activity
            android:name=".Annualpass"
            android:exported="false" />
        <activity
            android:name=".EastRVCampsiteActivity"
            android:exported="false" />
        <activity
            android:name=".WestRVCampsiteActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA593No20xjtUJ0YlMLAYDAZnYhq-lxuGY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>